.cards {
    padding: 2rem 0;
}
.cards__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.card-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 280px;
    background-color: var(--cor-fundo-primaria);
    border: 1px solid #f79708;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 8px #f79708;
    
}